@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
 
  
    
}

body{
    background-image: url(img/terno.jpg) ;
    background-size: cover;
    background-attachment: fixed;
   
   
    
   
}

.principal{
    color: white;
    
  
    text-align: center;
    text-shadow: 0.5px 2px black;
}

.titulo-principal{
   padding-top: 200px;
    align-items: center;

}
.titulo-principal h1{
    padding-bottom: 18px;
    font-family: 'Roboto Mono', monospace;
}

.titulo-principal h2{
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
}

.menu-items{
    display: inline-flex;
    list-style-type: none;
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
}

.principal-secundario h1{
    padding-top: 55px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}


.principal-secundario p{
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

.camada{
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

.principal-terciario{
    padding-top: 104px;
    display: inline-flex;
    
}

.principal-terciario img{
  padding: 10px;
    width: 429px;
    height: 280px;
    padding-bottom: 30px;
}


